#main, main {
  padding: 0px
  margin: 0px;
  grid-template-columns: 100%;
  margin-top: 50px;
}

h1, h2, #main h2, main h2, h3, h4, h5, h6, .view-all-button {
  grid-column: 1 / span 1;
}

nav, .mobile-menu-bar, .mobile-menu, footer {
  grid-template-columns: 100%;
  margin: 0px;
  padding: 0px;
}
.top-bar, .site-header, nav, .mobile-menu a, .mobile-menu h2 {
  display: none;
}

.mobile-menu-bar {
  display: block;
  height: 50px;
  background-color: hsla(30, 100%, 90%, 1);
  border-bottom: 1px solid hsla(30, 100%, 85%, 1);
  box-shadow: 0px 2px 3px lightgrey;
  position: fixed;
  z-index: 100;
}
.image-container.logo {
  position: absolute;
  left: 10px;
  top: 10px;
}
.menu-icon {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.mobile-menu {
  width: 100%;
  display: grid;
  position: absolute;
  top: 50px;
  background-color: white;
  margin-top: 5px;
  z-index: 10;
}
.mobile-menu a, .mobile-menu h2 {
  padding: 10px;
  text-align: left;
}

.mobile-menu a::before {
  content: "> ";
}

.breadcrumb {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
ul.breadcrumb {
  margin: 10px;
  padding: 0;
}

footer {
  grid-template-columns: 50% 50%;
  padding: 20px 0px;
}
footer img {
  grid-column: 1 / span 2;
  justify-self: center;
}
footer .links {
  margin: 20px;
}


.hero, .products, .product-categories, .products h2, .product-item, .product-category {
  grid-column: 1 / span 1;
}

.products {
  grid-column: 1 / span 1;
  margin: 0px;
  padding: 0px;
}

.product-list, .category-list, .category-list h2, .product-list h2 {
  grid-column: 1 / span 1;
  grid-template-columns: 100%;
}
