.product-list {
  grid-column: 2 / span 12;
}
.basket-chair {
  grid-column: 2 / span 3;
  grid-row: 2 / span 1;
}
.orange-chair {
  grid-column: 5 / span 3;
  grid-row: 2 / span 1;
}
.yellow-chair {
  grid-column: 8 / span 3;
  grid-row: 2 / span 1;
}
.white-chair {
  grid-column: 11 / span 3;
  grid-row: 2 / span 1;
}
