.hero {
  grid-column: 2 / span 12;
  width: 100%;
  height: 21.75rem;
  border-radius: 1.5rem;
  background-image: url('../img/home/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: hsla(0, 0%, 100%, 1);
}
.hero h1 {
  padding: 10px;
  margin-top: 10rem;
  color: hsla(0, 100%, 100%, 1);
  background-color: hsla(0, 100%, 0%, 0.5);
}
